* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1144px;
  margin: 0 auto;
}

/*  HEADER */
header {
  height: 80px;
}

.top_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col_0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 6;
}

.menu_head {
  font-size: 14px;
  margin-right: 40px;
  color: #777777;
  font-weight: 600;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.menu_head:hover {
  color: black;
}

.slide {
  background-image: url(icon/01/shutterstock_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.title {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: #000000;
  text-transform: uppercase;
  line-height: 1.7;
  text-align: center;
  position: absolute;
  left: 399.037px;
  top: 50%;
  width: 612px;
  height: 80px;
  z-index: 76;
}

.sub_title {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: black;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
  position: absolute;
  left: 479.037px;
  top: 70%;
  width: 458px;
  height: 13px;
  z-index: 77;
}

.sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 60%;
}

.slide_right {
  position: absolute;
  left: 1100px;
  width: 50px;
  height: 50px;
  border: 1px solid #fafafa;
  border-radius: 50%;
}
.slide_right:hover {
  cursor: pointer;
  background-color: #4a4a4a;
}

.slide_left {
  border: 1px solid #fafafa;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.slide_left:hover {
  cursor: pointer;
  background-color: #4a4a4a;
}

.icon_lf,
.icon_ri {
  padding: 13px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

body {
  background-color: #fafafa;
}

.catalog_menu {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-weight: bold;
  line-height: 1.714;
  margin-top: 19px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.catalog_menu:hover {
  color: black;
}

span.bord {
  border-right: 1px solid #777777;
  -webkit-transform: rotateZ(25deg);
          transform: rotateZ(25deg);
  height: 30px;
  margin-top: 15px;
}

.element-item {
  margin-bottom: 20px;
}
.element-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.logo-f {
  margin: 0 auto;
}

.copy {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  color: #9c9c9c;
  text-transform: uppercase;
  line-height: 2;
  text-align: center;
  padding-top: 25px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soc_items:hover {
  color: green;
  cursor: pointer;
}

.logo_f {
  padding-left: 44%;
}

footer {
  height: 80px;
  background-color: #fff;
}

.element-item:hover {
  background-color: black;
  -webkit-box-shadow: 2px 3.464px 6.51px 0.49px rgba(126, 126, 126, 0.25);
          box-shadow: 2px 3.464px 6.51px 0.49px rgba(126, 126, 126, 0.25);
  z-index: 28;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #777777;
  width: 500px;
  margin: 10px auto;
  list-style: none;
}
.social_item {
  width: 50px;
  height: 50px;
  /*border: 5px solid #777777 */
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-google-plus-g:hover {
  color: #dd4b39;
}

.fa-twitter:hover {
  color: #00a0dc;
}

.fa-linkedin-in:hover {
  color: #0077b5;
}

.fa-basketball-ball:hover {
  color: #F2933A;
}

.fa-pinterest-p:hover {
  color: #bd081c;
}

.fa-instagram:hover {
  color: #bc2a8d;
}

.about_title {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: #000000;
  text-transform: uppercase;
  line-height: 1.7;
  text-align: left;
  position: absolute;
  top: 20%;
  width: 612px;
  height: 80px;
  z-index: 76;
}
.about-sub_title {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: black;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: left;
  position: absolute;
  top: 33%;
  width: 458px;
  height: 13px;
  z-index: 77;
}
.about-sub_title2 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: black;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: left;
}
.about_text {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  line-height: 2.333;
  text-align: left;
}
.about_info {
  padding-top: 70px;
  padding-bottom: 100px;
}

.slide_about {
  background-image: url(icon/02/bg_about.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 350px;
}

.col-00 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-02 {
  padding-left: 50px;
}

.col-03 {
  padding-top: 40px;
}

.skills {
  padding-top: 15px;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cols_txt {
  width: 100%;
  background-color: #fff;
  margin-right: 10px;
  padding: 20px;
}

.col-04,
.col-05,
.col-06 {
  width: 33.33%;
  margin-right: 10px;
}

.about-teams {
  width: 100%;
}

.footers {
  background: #fff;
  margin-top: 60px;
  padding-top: 20px;
}

/*# sourceMappingURL=main.css.map */